.App {
  text-align: center;
  background-color: #083c5c;
  display: flex;
  min-height: 94vh;
  justify-content: center;
}

.App-navbar {
  background-color: #083c5c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.quest-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-row {
  flex-grow: 0.2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-row {
  flex-grow: 0.3;
}